<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">
    <statusListener class="ch.qos.logback.core.status.NopStatusListener"/>

    <property name="log.root.level" value="INFO"/>
    <property name="log.pattern"
              value="%d{HH:mm:ss.SSS} %green([%thread]) [%X{ioGameTraceId}] %highlight(%-5level) %cyan(%logger{5}).%M\(%F:%L\) %m%n"/>

    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${log.pattern}</pattern>
            <charset>utf8</charset>
        </encoder>
    </appender>

    <logger name="com.iohao.mmo" additivity="false">
        <level value="${log.root.level}"/>
        <appender-ref ref="stdout"/>
    </logger>

    <root level="${log.root.level}">
        <appender-ref ref="stdout"/>
    </root>
</configuration>
